html, 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 1em;
    height: 100%;
    background-color: #001d3b;
    
}

/* Containers & Divisions */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;

    text-align: center;
  
}

.container > a {
    text-decoration: none;
    color: #fff;
    
}


/* Icons */
.container-5 {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.container-5 > a {
    color: #42a5f5;
}

.container-5 > a:hover {
    color: #90caf9;
}

div {
    margin: .15em;
    
}

.box {
    background-color: #42a5f5;
    padding: 1em;
    margin: .5em;
    border-radius: .5em;
    cursor: pointer;
    
    
 
   
}

.box:hover {
    background-color: #90caf9;
 
}

/* Avatar Image */
.avatar {
    width: 20%;
    margin: 0 auto;
    border-radius: 100em;
    padding: .70em;
    
} 

/* Media Query - Mobile First */
@media only screen and (max-width: 600px) {
    .avatar {
        width: 40%;
        
    } 

    .container {
        width: 100%;
      
    }
  }

.name {
    font-size: 2em;
    color: #fff

}