html, 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 1em;
    height: 100%;
    background-color:#EEEEEE ;
    
}

/* Containers & Divisions */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70%;

    text-align: center;
  
}

.container > a {
    text-decoration: none;
    color: #212121;
    
}


/* Icons */
.container-5 {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-bottom: 2em;
}

.container-5 > a {
    color: #616161;
}

.container-5 > a:hover {
    color: #BDBDBD;
}

div {
    margin: .15em;
    
}

/* Box */
.box {
    background-color: #FAFAFA;
    padding: 1em;
    margin: .5em;
    border-radius: 1em;
    cursor: pointer;
    
    
 
   
}

.box:hover {
    background-color: #E0E0E0;
 
}

/* Avatar Image */
.avatar {
    width: 20%;
    margin: 0 auto;
    border-radius: 100em;
    border: solid #FAFAFA .4em
    
} 

/* Media Query - Mobile First */
@media only screen and (max-width: 600px) {
    .avatar {
        width: 40%;
        
    } 

    .container {
        width: 100%;
      
    }
  }

.name {
    font-size: 2em;
    color: #616161;

    font-family:'Roboto Mono', monospace ;

}

.subheader {
    font-family:'Roboto Mono', monospace ;
    font-size: 1.3em;
}

svg#verified {
    color: #0091EA;
    margin-left: 0.2em;
}