html, 
body {
    font-family: 'Roboto Mono', monospace;
}

/* Containers & Divisions */

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 70%;

    text-align: center;
  
}

.container-4 {
    flex-direction: row;
    justify-content: space-evenly;
}

.container > a {
    text-decoration: none;
    color: black;
}

div {
    margin: .15em;
}

.box {
    background-color: lightblue;
    padding: .5em;
    margin: .2em;
   
}

