/* General Styling */

body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    font-family: 'Encode Sans Condensed', sans-serif;
    }


.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

/* Avatar */

    .box-1 {
        flex: 1;
        padding-top: 20px; 
    
    }

/* Profile Name */
    .box-2 {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 10px;

    }
    .box-2 > h1 {
        color: whitesmoke;
    }

/* Quicklinks */

    .box-3 {
        flex: 1;
   
    }

/* Social Media Icons */
    .box-4 {
        flex: 1;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .fab {
        font-size: 20px;
        color: whitesmoke;
        padding: 10px -5px 10px -5px;
        justify-content: center;
    }
    
    .fab:hover { 
        color: rgba(245, 245, 245, 0.767);
    }

/* Text Box */
.block {
    border-style: solid 1px;
    border: none;
    border-radius: 40px;

    background-color: whitesmoke;
    color: #525252;

    padding: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-family: 'Encode Sans Condensed', sans-serif;   
}

.block:hover {
    
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.493);
    color: whitesmoke;
}

a {
    color: inherit;
    padding: 20px;
}



